@import './stylesheets/main'; 
body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }


  form{
    margin: auto;
    margin-top: 2em;
  div {
    margin: 1em;
    display: inline-block;
  }
  } 
}
